.appBag{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    background:url("https://st2.depositphotos.com/1177973/5705/i/950/depositphotos_57054671-stock-photo-delicious-birthday-cupcake.jpg");
    background-size: cover;
}
.loginForm{
    background-color: rgba(255,255,255,0.33);
    box-shadow: 0px 8px 32px 0 rgba(0,0,255,0.3);
    backdrop-filter: blur(3px);
}